body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    height:100vh;
    gap: 30px;
}

.tile{
    width: 100px;
    height: 100px;
    line-height: 40px;
}

.tile:hover{
}

.board{
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    width: 300px;
    height: 300px;
}

.container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    flex-direction: column;
}

.close{
    align-self: end;
    cursor: pointer;
}

#new-game{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
